<?xml version='1.0' encoding='utf-8'?>
<widget id="com.walletpoint.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wallet Point</name>
    <description>
        Student Wallet Point Application
    </description>
    <author email="admin@walletpoint.com" href="http://10.21.243.68">
        Wallet Point Team
    </author>
    <content src="login.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="gradleVersion" value="8.9" />
</widget>
