version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: wallet_point
      MYSQL_USER: walletpoint
      MYSQL_PASSWORD: walletpoint11
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5


  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: wallet_point
      PMA_PASSWORD: walletpoint11
    ports:
      - "8084:80"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      GIN_MODE: debug
      SERVER_HOST: 0.0.0.0
      SERVER_PORT: 8102

      DB_HOST: db
      DB_PORT: 3306
      DB_USER: walletpoint
      DB_PASSWORD: walletpoint11
      DB_NAME: wallet_point
    ports:
      - "8102:8102"

volumes:
  mysql_data:
